.banner{
    background-image: url('../../assets/images/banner.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 60vh;
}

.banner-text{
    min-height: 350px;
    padding-left: 15px;
}
.banner-text h1{
    font-size: 50px;
}