.home{
min-height: calc(100vh - 200px);
}
.banner{
    min-height: calc(100vh - 100px);
}
.banner-text{
    min-height: 350px;
}
.banner-text h1{
    font-size: 50px;
}
.banner-picture{
    max-width: 300px;
    max-height: 300px;
}
.banner-picture img{
    width: 100%;
}